.containerLogica {
    width: 600px;
    background: #ffffff;
    padding: 30px;
    margin: 2em auto;  
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
}