<header>
    <div class="wrapper">
        <div class="logo">Logica en NodeJS</div>
        
        <nav>
            <a href="/">Inicio</a>
            <a href="/fizzBuzz">FizzBuzz</a>
            <a href="/cadena">Cadena</a>
            <a href="/rango">Rango</a>
        </nav>
    </div>
</header>